<div style="width: 100%; background-color: #242526; border-top: 5px solid #3a3b3c;">
  <center>
    <br>
    <div style="padding: 0 200px;">
      <div class="row">
        <div class="col">
          <i class="fad fa-user-robot fa-7x" style="color: #fff;"></i> <!-- #3498DB -->
        </div>
        <div class="col">
          <a style="background-color: #151515; padding: 2px 4px 4px 4px;" href="//www.dmca.com/Protection/Status.aspx?ID=ec19392c-ab46-474c-9640-bab70e816441" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=ec19392c-ab46-474c-9640-bab70e816441"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script><br><br>
          <h3 style="color: white;">
            <%=name%> Bot List
          </h3>
          <h7 style="color: white;">
            Modern, stylish and fast! Add your bot now and start...
          </h7>
          <hr>
		  <h7 style="color: white;">
			Discord: <a href="/discord">Click and go!</a>
		  </h7>
		  <hr>
          <h6 style="color: white;">
            Copyright © 2020 Swôth - SpiX | All rights reserved.
          </h6>
        </div>
      </div>
    </div>
  </center>
</div>