<!DOCTYPE html>
<html lang="tr">
  <head>
    <%- include('templates/links') %>
  </head>
  <body>
    <%- include('templates/header') %>
    <center>
      <br><br><br><hr>
      <i class="fad fa-bug fa-7x" style="color: #E74C3C;"></i>
      <br><br>
      <h1 style="color: white;">
        Hata: Oturum Sonlandırıldı
      </h1>
      <hr>
      <h3 style="color: white;">
        Farklı sekmeden siteye girdiğin için buradaki oturumun sonlandırıldı!
      </h3>
      <hr>
      <a style="color: white; width: 200px;" class="btn btn-dark" href="/"><i style="color: #E74C3C;" class="fad fa-home-lg-alt"></i>&#160 Oturum Aç <span class="sr-only">(current)</span></a>
      <hr><br><br><br><br>
    </center>
    <%- include('templates/footer') %>
  </body>
</html>