<hr style="opacity: 0;"><hr style="opacity: 0;">
<div id="siteFooter" class="darkcode" style="background-color: #000; z-index: 100; position: fixed; bottom: 0; width: 90%; margin: auto; border-top: 5px solid #18191a; border-right: 5px solid #18191a; border-left: 5px solid #18191a; border-radius: 10px 10px 0px 0px;">
  <center>
    <div style="padding: 12px 200px;">
      <a href="/" style="text-decoration: none; background-color: #18191a; padding: 7px; border-radius: 5px; margin: 0; color: white;"><i class="fad fa-code" style="color: #5DADE2; font-size: 130%;"></i>&#160 <%=name%> <span class="badge" style="background-color: #3a3b3c; box-shadow: 0px 0px 3px #3a3b3c;"><%=version%></span>&#160 | &#160 Copyright © All rights reserved</a>
    </div>
  </center>
</div>