<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
<script data-ad-client="ca-pub-3576982641746981" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<style type="text/css">div.fullScreen{position:fixed;text-align:center;z-index:6201;}div.blocker{top:0px;left:0px;width:100%;height:100%;background-color:#323232;}</style>
<style type="text/css">div.fullScreen{_position:absolute;}div.blocker{_bottom:auto;_top:expression(ie6=(document.documentElement.scrollTop+document.documentElement.clientHeight - 52+"px") );}</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<style>* { font-family: 'Nunito', sans-serif; }</style>
<style>body { background-color:	#18191a; }</style>
<script src="packages/socket.io-client/dist/socket.io.js"></script>
<script>var socket = io();</script>
<style type="text/css">div.enenene{position:fixed;text-align:center}</style>
<script data-ad-client="ca-pub-3576982641746981" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<style type="text/css">div.fullScreen{position:fixed;text-align:center;z-index:6201;}div.blocker{top:0px;left:0px;width:100%;height:100%;background-color:#323232;}</style>
<style type="text/css">div.fullScreen{_position:absolute;}div.blocker{_bottom:auto;_top:expression(ie6=(document.documentElement.scrollTop+document.documentElement.clientHeight - 52+"px") );}</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<style>* { font-family: 'Nunito', sans-serif; }</style>
<style>body { background-color:	#0C0C0C; }</style>
<style type="text/css">div.enenene{position:fixed;text-align:center;z-index:6201;}div.dgfdgd{top:0px;left:0px;width:100%;height:100%;background-color:#323232;}</style><style type="text/css">div.enenene{_position:absolute;}div.dgfdgd{_bottom:auto;_top:expression(ie6=(document.documentElement.scrollTop+document.documentElement.clientHeight - 52+"px") );}</style>
<meta charset="utf-8">
<style>@keyframes spin {from {transform:rotate(0deg);}to {transform:rotate(360deg);}}</style>
<meta name="author" content="Swôth#9990">
<meta name="title" content="<%=name%> | Bot List & Kod Paylaşım | <%=version%>">
<link rel="shortcut icon" href="https://cdn.glitch.com/b9b730a3-aa65-4227-a5ae-5d1bc6ccdcae%2Fimage.png?v=1607280091597">
<script>$(function () { $('[data-toggle="tooltip"]').tooltip() })</script>

<style>
	.epic {
		animation: epicAnimation 5s linear infinite;
	}

	@keyframes epicAnimation {
		0% {
			color: #40E0D0;
		}
		25% {
			color: #40E0D0;
		}
		50% {
			color: #FF8C00;
		}
		75% {
			color: #F27121;
		}
		100% {
			color: #40E0D0;
		}
	}
</style>

<!-- access -->
<script>
	if (window.location.pathname !== "/denied") {
		sessionStorage.tabID = Date.now();
		if (!localStorage.tabID) localStorage.tabID = sessionStorage.tabID;
		if (sessionStorage.tabID !== localStorage.tabID) localStorage.tabID = sessionStorage.tabID;
		setInterval(() => { if (sessionStorage.tabID !== localStorage.tabID) window.location.href = "/denied"; }, 3000);
	};
</script>
<!-- / access-->


<!-- graident -->
<style>
.darkcode {
  background: linear-gradient(101deg, #24BADE, #21618C, #247EDE); /* linear-gradient(101deg, #F39C12, #D35400) */
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>
<!-- graident -->

<style>
.cm-s-3024-night.CodeMirror { background: #090300; color: #d6d5d4; }
.cm-s-3024-night div.CodeMirror-selected { background: #3a3432; }
.cm-s-3024-night .CodeMirror-line::selection, .cm-s-3024-night .CodeMirror-line > span::selection, .cm-s-3024-night .CodeMirror-line > span > span::selection { background: rgba(58, 52, 50, .99); }
.cm-s-3024-night .CodeMirror-line::-moz-selection, .cm-s-3024-night .CodeMirror-line > span::-moz-selection, .cm-s-3024-night .CodeMirror-line > span > span::-moz-selection { background: rgba(58, 52, 50, .99); }
.cm-s-3024-night .CodeMirror-gutters { background: #090300; border-right: 0px; }
.cm-s-3024-night .CodeMirror-guttermarker { color: #db2d20; }
.cm-s-3024-night .CodeMirror-guttermarker-subtle { color: #5c5855; }
.cm-s-3024-night .CodeMirror-linenumber { color: #5c5855; }

.cm-s-3024-night .CodeMirror-cursor { border-left: 1px solid #807d7c; }

.cm-s-3024-night span.cm-comment { color: #cdab53; }
.cm-s-3024-night span.cm-atom { color: #a16a94; }
.cm-s-3024-night span.cm-number { color: #a16a94; }

.cm-s-3024-night span.cm-property, .cm-s-3024-night span.cm-attribute { color: #01a252; }
.cm-s-3024-night span.cm-keyword { color: #db2d20; }
.cm-s-3024-night span.cm-string { color: #fded02; }

.cm-s-3024-night span.cm-variable { color: #01a252; }
.cm-s-3024-night span.cm-variable-2 { color: #01a0e4; }
.cm-s-3024-night span.cm-def { color: #e8bbd0; }
.cm-s-3024-night span.cm-bracket { color: #d6d5d4; }
.cm-s-3024-night span.cm-tag { color: #db2d20; }
.cm-s-3024-night span.cm-link { color: #a16a94; }
.cm-s-3024-night span.cm-error { background: #db2d20; color: #807d7c; }

.cm-s-3024-night .CodeMirror-activeline-background { background: #2F2F2F; }
.cm-s-3024-night .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
</style>

<!-- Preloader -->
<script>
$(document).ready(function(){
	$('#fullPreLoader').hide(100);
});
</script>
<div id="fullPreLoader" class="enenene dgfdgd">
	<center>
		<br><br><br><br><br><br><br>
		<style>
		@keyframes ldio-rpinwye8j0b {
			0% { transform: rotate(0deg) }
			50% { transform: rotate(180deg) }
			100% { transform: rotate(360deg) }
		}
		.ldio-rpinwye8j0b div {
			position: absolute;
			animation: ldio-rpinwye8j0b 1s linear infinite;
			width: 160px;
			height: 160px;
			top: 20px;
			left: 20px;
			border-radius: 50%;
			box-shadow: 0 4px 0 0 #fff;
			transform-origin: 80px 82px;
		}
		.loadingio-eclipse {
			width: 200px;
			height: 200px;
			display: inline-block;
			overflow: hidden;
		}
		.ldio-rpinwye8j0b {
			width: 100%;
			height: 100%;
			position: relative;
			transform: translateZ(0) scale(1);
			backface-visibility: hidden;
			transform-origin: 0 0; /* see note above */
		}
		.ldio-rpinwye8j0b div { box-sizing: content-box; }
		</style>
		<div class="loadingio-eclipse">
			<div class="ldio-rpinwye8j0b">
				<div>
				</div>
			</div>
		</div>
		<br><br>
		<h1 style="color: white; font-size: 50px; margin-left: 20px;">Yükleniyor...</h1>
	</center>
</div>
<!-- Preloader -->


<style>
.darkcodeNew {
	background: linear-gradient(-45deg, #E74C3C, #F1C40F, #1ABC9C, #3498DB);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>

<link href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.css' rel='stylesheet'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/javascript/javascript.js'></script>

<!--<script>
	$(document).keydown(function(e){if(e.which === 123){ return false; }});
	$(document).bind("contextmenu", function(e) { e.preventDefault(); });
</script>-->